*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;
}

body{
background:#f8f9fb;
overflow-x:hidden;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
position:relative;
}

.bg1{
position:fixed;
width:350px;
height:350px;
background:#102544;
border-radius:50%;
top:-120px;
left:-120px;
filter:blur(40px);
opacity:.12;
}

.bg2{
position:fixed;
width:300px;
height:300px;
background:#ff8c22;
border-radius:50%;
bottom:-100px;
right:-100px;
filter:blur(50px);
opacity:.15;
}

.card{
width:100%;
max-width:430px;
background:white;
border-radius:28px;
padding:35px 25px;
box-shadow:0 15px 45px rgba(0,0,0,.12);
text-align:center;
animation:fade .7s ease;
}

.logo{
width:140px;
margin-bottom:20px;
}

h1{
font-size:30px;
color:#102544;
margin-bottom:8px;
}

.slogan{
color:#777;
margin-bottom:30px;
font-size:15px;
}

.buttons{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:30px;
}

.btn{
background:#102544;
color:white;
padding:16px;
border-radius:18px;
text-decoration:none;
font-size:15px;
font-weight:600;
transition:.3s;
}

.btn i{
margin-left:8px;
}

.btn:hover{
background:#ff8c22;
transform:translateY(-4px);
}

.info h3{
margin-top:18px;
margin-bottom:8px;
color:#102544;
}

.info p{
line-height:2;
color:#555;
}

button{
margin-top:15px;
border:none;
background:#ff8c22;
color:white;
padding:13px 28px;
border-radius:15px;
font-size:15px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

@keyframes fade{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@media(max-width:500px){

.card{
padding:30px 20px;
}

.buttons{
grid-template-columns:1fr;
}

.logo{
width:120px;
}

h1{
font-size:26px;
}

}
